@using MvcBootcamp.Web.Models

@model IEnumerable<Customer>

<h2>Company List from Partial View</h2>

@* Penggunaan Collection untuk di load ke dalam view *@
@Styles.Render("~/Content/mycss")

<table>
    <thead>
        <tr>
            <td>Company Name</td>
            <td>City</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.CompanyName
                </td>
                <td>
                    @item.City
                </td>
            </tr>
            }

            </tr>

        </tbody>
    </table>

