@model IEnumerable<MvcBootcamp.Web.Models.Customer>

@using MvcBootcamp.Web.Models

@{
    ViewBag.Title = "hw";
}

<h2>Listing List</h2>

@* Penggunaan Collection untuk di load ke dalam view *@

<table>
    <thead>
        <tr>
            <td>Company Name</td>
            <td>City</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (MvcBootcamp.Web.Models.Customer item in Model)
            {
                <tr>
                    <td>
                        @item.CompanyName
                    </td>
                    <td>
                        @item.City
                    </td>
                </tr>
            }
            
        </tr>

    </tbody>
</table>

@Html.Partial("_PartialViewDemo")

@{Html.RenderPartial("_PartialViewDemo");}