@model MvcBootcamp.Web.Models.Customer

@*@model IEnumerable<MvcBootcamp.Web.Models.Customer>*@

@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

@*@{
    Layout = null; @*Nentuin penggunaan layout, NULL bikin ga ada layout. Bisa dicustom tiap view  
}*@




@{
    ViewBag.Title = "StronglyTypeView";
}

<h2>StronglyTypeView</h2>

<p>Company Name : @Model.CompanyName</p>
<p>City : @Model.City</p>

