@model IEnumerable<DataAccessLayer.Customer>

@{
    ViewBag.Title = "Customer AJAX";
}

<h2>@ViewBag.Title</h2>

@Styles.Render("~/Content/bootstrap")

@* Form untuk search menggunakan AJAX *@
<div>

    @using (Ajax.BeginForm("Search", "CustomerAJAX",
                                    new AjaxOptions
                                    {
                                        InsertionMode = InsertionMode.Replace,
                                        HttpMethod = "Get",
                                        UpdateTargetId = "divresult" //untuk bagian yang di replace di html
                                    }

                                    ))
    {
       <div class="form-control form-group">
           <input type="text" name="name" />
           <input type="submit" value="Search by AJAX" />
       </div>
    }


</div>


<div id="divresult">
    No Result
</div>

<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @Ajax.ActionLink(item.CustomerID, "Search", new { name = item.CompanyName },
                    new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "Get",
                        UpdateTargetId = "divdetail"
                    }
                )
            </li>
        }
    </ul>
</div>

<div id="divdetail">
    No Details
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryajax");
    }